.notifications {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notifications h3 {
  color: black;
  margin-top: 0;
}

.notifications table {
  width: 100%;
  border-collapse: collapse;
}

.notifications th,
.notifications td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
